.btn-check:active + .btn-outline-primary:focus, .btn-check:checked + .btn-outline-primary:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus, .btn-outline-primary:active:focus {
  box-shadow: 0 0 0 .25rem rgba(253,244,244,0.5);
}

.btn-check:active + .btn-outline-primary, .btn-check:checked + .btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus {
  box-shadow: 0 0 0 .25rem rgba(13,110,253,.5);
}

.btn-outline-primary:hover {
  color: rgba(193,104,0,0.5);
  background-color: rgba(253,244,244,0.5);
  border-color: rgba(253,244,244,0.5);
}

.btn-outline-primary {
  color: rgba(100,171,182,0.8);
  border-color: rgba(100,171,182,0.4);
}

.container {
}

.card-body .row {
  padding: 11px;
}

a:hover {
  color: rgba(100,171,182,0.8);
  background: rgba(193,104,0,0.1);
  border-radius: 20%;
  padding: 10px;
}

.card-body .row {
  padding: 16px 8px;
}

h5, h4 {
  font-weight: bold;
}

.card {
  background: rgba(241,232,222,0);
  border: none;
}

img {
  border-radius: 11px;
  border: 8px solid rgba(253,244,244,0.5);
  box-shadow: 4px 8px 16px 0px;
}

.col {
}

.row {
  padding-bottom: 22px;
}

h1 {
  text-shadow: 0px 0px 14px #ffffff;
}

#headshot {
  border-radius: 128px;
  border: 8px solid rgba(253,244,244,0.5);
  box-shadow: 4px 8px 16px 0px;
}

.service_img {
  border-radius: 128px;
  border: 8px solid rgba(253,244,244,0.5);
  box-shadow: 4px 8px 16px 0px;
}

.navbar {
  background: linear-gradient(rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.9) 99%), linear-gradient(rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.2) 100%), url("../../assets/img/ryunosuke-kikuno-wDF6RFLzo3A-unsplash.jpg") center / cover;
}

.container-fluid {
  background: linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 8%, rgba(255,255,255,0.9) 92%, rgba(255,255,255,0) 100%), url("../../assets/img/pascal-debrunner-AGEBN35q0UA-unsplash.jpg") top / cover repeat;
  padding-top: 22px;
  padding-bottom: 22px;
  font-family: 'Alike';
}

